* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
  font-size: calc(1em + 1vw);
}

.image1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: 1;
}

.image2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 0;
  transform: rotate(180deg);
}

.Page {
  width: 100%;
  height: 100vh;
  background-color: #f4ff78;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.logo p {
  font-size: 0.3em;
  color: #303030;
  z-index: 10;
}

.content {
  height: 80vh;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  padding: 5vh;
}

.first {
  font-size: 0.8em;
  color: #303030;
  margin-bottom: -5vh;
  z-index: 10;
}

.second {
  font-size: 1.8em;
  color: #303030;
  z-index: 10;
}

.button {
  height: 10vh;
  display: flex;
  align-items: left;
  justify-content: center;
}

.button .btn {
  width: 18vw;
  height: 10vh;
  background-color: #303030;
  border-radius: 1000px;
  color: #f4ff78;
  font-size: 0.4em;
  border: 0;
  outline: 0;
  z-index: 10;
  transition: all 500ms ease;
}

.button .btn:hover {
  background-color: transparent;
  color: #303030;
  border: #303030 1px solid;
}

.secondContent {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vh;
}

@media screen and (max-width: 1330px) {
  .content .second {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  .content .first {
    margin-bottom: -2vh;
  }
  .content .second {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 690px) {
  .content .second {
    font-size: 1.2em;
  }
  .button .btn {
    width: 30vw;
  }
  .secondContent .second {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .content {
    align-items: center;
  }
  .content .first {
    font-size: 0.8em;
  }
  .content .second {
    font-size: 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .content .first {
    font-size: 0.5em;
  }
}
